.container {
  width: 100%;
  max-width: 1200px;
  padding: {
    right: 15px;
    left: 15px;
  }
  margin : {
    right: auto;
    left: auto;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
